scrollspy-nav {
  position: sticky;
  top: 0;
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  background-color: var(--scrollspy-nav-background-color, Canvas);
}

scrollspy-nav > * {
  margin: 0 auto;
  padding: 0;
  display: flex;
  gap: var(--scrollspy-nav-list-gap, 2rem);
  list-style: none;
}

scrollspy-nav li {
  position: relative;
}

scrollspy-nav a {
  display: block;
  margin-block: var(--scrollspy-nav-link-margin-block, 1rem);
  text-decoration: none;
  white-space: nowrap;
  outline-offset: var(--scrollspy-nav-link-outline-offset, 4px);
}

scrollspy-nav [aria-current="true"] {
  color: var(--scrollspy-nav-link-color-active, currentcolor);
}

scrollspy-nav [data-marker] {
  position: absolute;
  top: var(--scrollspy-nav-marker-top, initial);
  bottom: var(--scrollspy-nav-marker-bottom, 0);
  left: 0;
  background-color: var(--scrollspy-nav-marker-color, currentcolor);
  z-index: -1;
  width: 1px;
  height: var(--scrollspy-nav-marker-height, 4px);
  transform-origin: left;
}
